In [19]:
# Read in data and view
from pandas import read_csv

testdata = read_csv('./data/testfile', delimiter = '\t', header=None)

testdata.head()

            0      1           2                    3       4           5
0  2012-01-01  09:00    San Jose       Men's Clothing  214.05        Amex
1  2012-01-01  09:00  Fort Worth     Women's Clothing  153.57        Visa
2  2012-01-01  09:00   San Diego                Music   66.08        Cash
3  2012-01-01  09:00  Pittsburgh         Pet Supplies  493.51    Discover
4  2012-01-01  09:00       Omaha  Children's Clothing  235.63  MasterCard

In [28]:
# mapper for max value from key 
# delivers key=store and value=cost

import sys

# Loop over input

# read standard input line by line
for line in testdata: # sys.stdin
    # strip off extra whitespace, split on tab and put the data in an array
    data = line.strip().split("\t")

    # Defensive programming
    if len(data) == 6:
    # multiple assignment
        date, time, store, item, cost, payment = data
    
    # print out the data that will be passed to the reducer
        print '{0}\t{1}'.format(store, cost)

SyntaxError: invalid syntax (<ipython-input-28-b443c358a268>, line 8)

In [ ]:
#!/usr/bin/python

# Reducer to find the maximum value within a key
# From stdin defensively programme for problem lines
# Then use a groupby function to find the max value within a key-group 
 
import sys
import pandas as pd

salesMax = 0
oldKey = None

for line in sys.stdin:
    data_mapped = line.strip().split("\t")
    if len(data_mapped) != 2:
        # Something has gone wrong. Skip this line.
        continue

    # Name elements of the array 'data_mapped'
    thisKey, thisSale = data_mapped 

    # If oldKey has a value and value oldKey different to thisKey ie there's a newKey
    if oldKey and oldKey != thisKey:
	# Then print the running total salesTotal for oldKey, and then make salesTotal zero 
        print oldKey, "\t", salesTotal
        oldKey = thisKey;
        salesMax = 0
    # Otherwise set thisKey to oldKey
    if salesMax <= thisSale
    oldKey = thisKey
    # and add thisSale to the running total salesTotal
    salesTotal += float(thisSale)

# Capture last line to finish the loop 
if oldKey != None:
    print oldKey, "\t", salesTotal